<div id="signup" style='padding: 40px;'> 
  <h2>Profile</h2>
  <md-content>
  <div class="name" style="float: right;"><h3> Hello {{user.name}}</h3></div>
  <md-button class="md-primary md-fab md-fab-top-right" style='position: fixed;'>
       <a href="#/homepage">Home</a>
   </md-button>
 <!-- <div class="memberSince">{{info.createdAt - new Date()}}</div> -->
 <h3>Your items for rent</h3>

  <div ng-cloak>
    <md-content class="md-padding" layout-xs="column" layout="row" ng-repeat="item in info.items4rent" id='profilePage'>
      <div flex-xs flex-gt-xs="50" layout="column"  >
        <md-card md-theme="{{'dark-light-green'}}" md-theme-watch flex="30">
          <md-card-title>
            <md-card-title-text>
              <span class="md-subhead"><img src='{{item.photo}}' /></span>
              <span class="md-display-1">{{item.name}}</span>
              <span class="md-subhead">{{item.description}}</span>
              <div reviews></div>
              <div class="md-title">Average Rating</div>
              <div starrating></div>
            </md-card-title-text>
            <md-card-title-media>
              <div class="md-media-md card-media" layout-align="end center">{{item.price | currency}}</div>
            </md-card-title-media>
          </md-card-title>
          <md-card-actions layout="row" layout-align="end center">
            <md-button class='md-primary md-raised' ng-click='deleteItem(item)'>Delete Item</md-button>
          </md-card-actions>
       </md-card>
      </div>
    </md-content>
  </div>

</md-content>
<!-- </div> -->
<md-content>
  <h3>Items you are renting</h3>
  <div ng-cloak >
    <md-content class="md-padding" layout-xs="column" layout="row" ng-repeat="item in info.itemsRenting" id='profilePage'>
      <div flex-xs flex-gt-xs="50" layout="column"  >
        <md-card md-theme="{{'dark-light-green'}}" md-theme-watch flex="30">
          <span class="md-subhead"><img src='{{item.photo}}'></img></span>
          <md-card-title>
            <md-card-title-text>
              <span class="md-display-1">{{item.name}}</span>
              <span class="md-title">description</span>
              <span class="md-subhead">{{item.description}}</span>
              <div reviews></div>
              <div class="md-title">Average Rating</div>
              <div starrating></div>
            </md-card-title-text>
            <md-card-title-media>
              <div class="md-media-md card-media" layout-align="end center">{{item.price | currency}}</div>
            </md-card-title-media>
          </md-card-title>
          <md-card-actions layout="row" layout-align="end center">
            <md-button class='md-primary md-raised' ng-click='returnItem($event, item)'>Return Item</md-button>
          </md-card-actions>
        </md-card>
      </div>
  </md-content>

  <!-- Feedback -->
  <md-content>
    <h3>Feedback from rentees</h3>
    <div ng-cloak >
      <md-content class="md-padding" layout-xs="column" layout="row" ng-repeat="feedback in info.renterFeedback" id='profilePage'>
        <div flex-xs flex-gt-xs="50" layout="column"  >
          <md-card md-theme="{{'dark-light-green'}}" md-theme-watch flex="30">
            <md-card-title>
              <md-card-title-text>
                <span class="md-display-1">Rentee: {{feedback.rentee}}</span>
                <span class="md-title">Experience</span>
                <span class="md-subhead">{{feedback.experience}}</span>
                <span class="md-subhead">Rating: {{feedback.rating}}</span>
              </md-card-title-text>
              <md-card-title-media>
                <div class="md-media-md card-media"></div>
              </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
              <span class="md-subhead">{{item.price | currency}}</span>
            </md-card-actions>
          </md-card>
        </div>
      </md-content>
    </div>
  </md-content>

  <md-content>
    <h3>Feedback from renters</h3>
    <div ng-cloak >
      <md-content class="md-padding" layout-xs="column" layout="row" ng-repeat="feedback in info.renteeFeedback" id='profilePage'>
        <div flex-xs flex-gt-xs="50" layout="column"  >
          <md-card md-theme="{{'dark-light-green'}}" md-theme-watch flex="30">
            <md-card-title>
              <md-card-title-text>
                <span class="md-display-1">Renter: {{feedback.renter}}</span>
                <span class="md-title">Experience</span>
                <span class="md-subhead">{{feedback.experience}}</span>
                <span class="md-subhead">Rating: {{feedback.rating}}</span>
              </md-card-title-text>
              <md-card-title-media>
                <div class="md-media-md card-media"></div>
              </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
              <span class="md-subhead">{{item.price | currency}}</span>
            </md-card-actions>
          </md-card>
        </div>
      </md-content>
    </div>
  </md-content>
</div>
