
  <div navigation></div>
  <md-content>
    <md-button class="md-primary md-fab md-fab-top-right" style='position: fixed;'>
         <a href="#/homepage">Home</a>
    </md-button>
    <!-- <div class="memberSince">{{info.createdAt - new Date()}}</div> -->
    <h3>Your items for rent</h3>
    <hr>
    <div ng-cloak>
      <div class="item-list">
        <div class="item md-padding" ng-repeat="item in info.items4rent">
          <div class="title-bar">
            <div class="title">{{item.name}}</div>
            <div class="star-rating" starrating></div>
          </div>
          <div class="image-container">
            <img class="image" src="{{item.photo}}" />
          </div>
          <div class="description">
            <p>{{item.description}}</p>
            <div class="decision-bar">
              <p class="price">{{item.price | currency}}/week</p>
              <md-button ng-click='deleteItem(item)' class="add-to-cart-button md-primary md-raised button">Delete Item</md-button>
            </div>
            <div class="reviews">
              <div reviews></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- Rented Items -->

  <h3>Items you are renting</h3>
  <div ng-cloak>
    <div class="item-list">
      <div class="item md-padding" ng-repeat="item in info.itemsRenting">
        <div class="title-bar">
          <div class="title">{{item.name}}</div>
          <div class="star-rating" starrating></div>
        </div>
        <div class="image-container">
          <img class="image" src="{{item.photo}}" />
        </div>
        <div class="description">
          <p>{{item.description}}</p>
          <div class="decision-bar">
            <p class="price">{{item.price | currency}}/week</p>
            <md-button class='add-to-cart-button md-primary md-raised button' ng-click='returnItem($event, item)'>Return Item</md-button>
          </div>
          <div class="reviews">
            <div reviews></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Feedback -->
  <md-content>
    <h3>Feedback from rentees</h3>

    <div ng-cloak>
      <div class="item-list">
        <div class="item md-padding feedback" ng-repeat="feedback in info.renterFeedback">
          <div class="title-bar">
            <div class="title">From {{feedback.rentee}}</div>
          </div>
          <span class="md-subhead">Rating: {{feedback.rating}} / 5</span>
          <div class="description">
            <p>{{feedback.experience}}</p>
          </div>
        </div>
      </div>
    </div>
  </md-content>


  <md-content>
    <h3>Feedback from renters</h3>
    <div ng-cloak>
      <div class="item-list">
        <div class="item md-padding feedback" ng-repeat="feedback in info.renteeFeedback">
          <div class="title-bar">
            <div class="title">From {{feedback.renter}}</div>
          </div>
          <span class="md-subhead">Rating: {{feedback.rating}} / 5</span>
          <div class="description">
            <p>{{feedback.experience}}</p>
          </div>
        </div>
      </div>
    </div>
  </md-content>
