<div navigation></div>
  <md-content>
  <div class="checkOutFinal" style="float: right; padding-right: 10%">
    <h1>Hello {{checkOutItems.id}}</h1>
    <h2 id="currency-default">Total: {{getSum() | currency}}</h2><br>
    <md-button class="md-primary md-raised" ng-click='processCheckOut()'>
      CheckOut
    </md-button>
  </div>
  <h3>Checkout</h3>

  <div ng-cloak>
    <div class="item-list">
      <div class="item md-padding" ng-repeat='item in randItemsData'>
        <div class="title-bar">
          <div class="title">{{item.name}}</div>
          <div class="star-rating" starrating></div>
        </div>
        <div class="image-container">
          <img class="image" src="{{item.photo}}" />
        </div>
        <div class="description">
          <p>{{item.description}}</p>
          <div class="decision-bar">
            <p class="price">{{item.price | currency}}/week</p>
            <md-button ng-click='addToCheckOut(item)' class="add-to-cart-button md-primary md-raised button">Add to cart</md-button>
          </div>
          <div class="reviews">
            <div reviews></div>
          </div>
      </div>
    </div>
  </div>

</md-content>
<md-button class="md-primary md-fab md-fab-top-right md-hue-3" style='margin-top: 50px;' id='homeBtnAtcheckOut'>
    <a href="#/homepage" style = style='font-size: 85%; color: white'>Home</a>
  </md-button>
</div>


